---
import { SITE } from '$/config'
import MainLayout from '$/components/MainLayout.astro'
import BaseHead from '$/components/BaseHead.astro'
import Prose from '$/components/Prose.astro'

const { content } = Astro.props
---
<!doctype html>
<html lang="en">
    <head>
        <BaseHead {...content} title={ content.title ? `${ SITE.title } | ${content.title}` : SITE.title }/>
    </head>
    <MainLayout>
        <div class="post__header">
            <div class="post__tags">
                { content.tags.length > 0 && content.tags.map(tag => <a class="post__tag" href={`/tags/${tag}`} title={tag}>{tag}</a>) }
            </div>
            <h1 class="post__title">{ content.title }</h1>
            <h5 class="post__desc">
                <a class="post__author" href={`https://twitter.com/${content.authorTwitter}`} title={`${content.author + "'s"} twitter`} target="_blank" rel="external">{ content.author }</a> |
                <span class="post__date">{ new Intl.DateTimeFormat('en-US', { dateStyle: 'full' }).format(new Date(content.date))}</span>
            </h5>
        </div>
        <div class="draft-message">
            You're viewing a <strong>preview</strong> of <code>/blog/{content.slug}</code> which isn't published yet!
        </div>
        <!--<img src={content.image} alt={content.title} />-->
        <Prose>
            <slot />
        </Prose>
    </MainLayout>
</html>
<style>
    .post__header {
        @apply py-4 mb-1
    }
    .post__title {
        @apply text-5xl font-extrabold text-theme-primary;
    }
    :global(html.dark) .post__title {
        @apply text-theme-dark-primary;
    }
    .post__desc {
        @apply text-theme-text-secondary;
    }
    :global(html.dark) .post__desc {
        @apply text-theme-dark-text-secondary;
    }
    .post__author {
        @apply no-underline hover:text-theme-primary;
    }
    :global(html.dark) .post__author {
        @apply hover:text-theme-dark-primary;
    }
    .post__date {
        @apply text-theme-text-muted;
    }
    :global(html.dark) .post__date {
        @apply text-theme-dark-text-muted;
    }
    .post__tags {
        @apply inline-flex gap-2
    }
    .post__tag {
        @apply text-theme-text-muted hover:text-theme-primary;
    }
    :global(html.dark) .post__tag {
        @apply text-theme-dark-text-muted hover:text-theme-dark-primary;
    }

    .draft-message {
        @apply bg-yellow-300 text-gray-700 px-2 py-1 my-2;
    }
    :global(html.dark) .draft-message {
        @apply bg-yellow-700 text-white;
    }
</style>
